@model IEnumerable<Sky.Editor.Models.Blogs.BlogStreamViewModel>
@{
    ViewData["Title"] = "Blog Streams";
}
<h2>Blog Streams</h2>
<p><a class="btn btn-primary" href="@Url.Action("Create")">Create Blog Stream</a></p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Blog Key</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.BlogKey</td>
            <td>
                <a class="btn btn-sm btn-secondary" href="@Url.Action("Entries", new { blogKey = b.BlogKey })">Entries</a>
                <a class="btn btn-sm btn-outline-primary" href="@Url.Action("Edit", new { id = b.Id })">Edit</a>
                <a class="btn btn-sm btn-outline-danger" href="@Url.Action("Delete", new { id = b.Id })">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
