@using Sky.Editor.Data.Logic
@model Sky.Editor.Models.Blogs.BlogEntriesListViewModel
@inject IEditorSettings options
@{
    var canEdit = User.IsInRole("Administrators") || User.IsInRole("Editors");
    ViewData["Title"] = "Entries - " + Model.BlogKey;
}
<link href="~/lib/tabulator-tables/dist/css/tabulator_midnight.css" rel="stylesheet" />
<script src="~/lib/luxon/luxon.min.js"></script>
<script src="~/lib/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="~/js/clipboard.min.js"></script>
<style>
    .fs-small {
        font-size: 0.8em;
    }
</style>
<div class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-light">Entries for '@Model.BlogTitle'</h3>
                <p class="text-light">@Html.Raw(Model.BlogDescription)</p>
            </div>
        </div>
        <div class="row cpws-table-pager-row-top">
            <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="Actions">
                    <a class="btn btn-sm btn-primary" id="btnCreate">New Entry</a>
                    <a class="btn btn-sm btn-secondary" href="@Url.Action("Index")">Back to List</a>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
            </div>
        </div>
        <div class="row bg-dark">
            <div class="col-md-12">
                <div id="pagelist-table" class="table-dark"></div>
            </div>
        </div>
        <div class="row cpws-table-pager-row-bottom">
            <div class="col-md-12 d-flex justify-content-center">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<script>
    const publisherUrl = "@options.PublisherUrl";
    const tblHeight = window.innerHeight - 200;
    const canEdit = @Html.Raw(canEdit.ToString().ToLower());

    let pageSize = Math.round(tblHeight / 50) + 1;

    function openArticleVersions(e, cell) {
        const data = cell.getRow().getData();
        window.location.href = "/Editor/Versions/" + data.ArticleNumber;
    }

    function dateFilterFunction(headerValue, rowValue, rowData, filterParams){
        if (rowValue === null || rowValue === "") {
            return false;
        }

        if (typeof(rowValue.split) === "undefined") {
            return false;
        }

        return headerValue === rowValue.split("T")[0]; //must return a boolean, true if it passes the filter.
    }

    const trashBtn = function(cell, formatterParams){
        data = cell.getRow().getData();
        if (data.IsDefault === true){
            return "";
        }
        // "{blogKey}/entries/{articleNumber:int}/delete"
        return "<a title='Send post to trash' href='/editor/blogs/" + data.BlogKey + "/entries/" + data.ArticleNumber + "/delete' class='btn btn-sm btn-secondary'><i class='fa-solid fa-trash'></i></a>";
    };

    const menuBar = function(cell, formatterParams){
        data = cell.getRow().getData();
        let html = "<div class='btn-group btn-group-sm' role='group' aria-label='Page actions.'>";
        html += html += "<a href='/Editor/Edit/" + data.ArticleNumber + "' title='Click to edit post.' class='btn btn-sm btn-success'><i class='fa-solid fa-pen-to-square'></i></a>";
        let url = data.UrlPath;
        if (url === "root") {
            url = "";
        }

        if (data.LastPublished !== null && data.LastPublished !== ""){
            html += "<a target='_blank' href='" + publisherUrl + "/" + url + "' title='Open blog post on website.'  class='btn btn-sm btn-secondary'><i class='fa-solid fa-arrow-up-right-from-square'></i></a>";
        }
        else
        {
            html += "<a title='Cannot open blog post on website until it is published.' onclick='alert(\"Cannot open page on website until it is published.\")' class='btn btn-sm btn-secondary'><i class='fa-solid fa-arrow-up-right-from-square'></i></a>";
        }

        if (data.LastPublished !== null && canEdit && data.IsDefault === false)
        {
            html += "<button onclick='unpublish(" + data.ArticleNumber + ")' title='Unpublishes a this item, and makes it no longer accessible except for editing.' class='btn btn-sm btn-secondary'><i class='fa-solid fa-calendar-xmark'></i></button>";
        }html += "</div>";
        return html;
    };

     const pageTable = new Tabulator("#pagelist-table", {
        height:tblHeight + "px",
        pagination:true, //enable pagination
        paginationMode:"local", //enable local pagination
        paginationSize:pageSize, //optional parameter to request a certain number of rows per page
        persistence:{
            sort: true, //persist column sorting
            filter: true, //persist filters
            headerFilter: true, //persist header filters
            group: false, //persist row grouping
            page: true, //persist page
            columns: false, //persist columns
        },
        persistenceWriterFunc:function(id, type, data){
            //id - tables persistence id
            //type - type of data being persisted ("sort", "filter", "group", "page" or "columns")
            //data - array or object of data
            sessionStorage.setItem(id + "-" + type, JSON.stringify(data));
        },
        persistenceReaderFunc:function(id, type){
            //id - tables persistence id
            //type - type of data being persisted ("sort", "filter", "group", "page" or "columns")
            var data = sessionStorage.getItem(id + "-" + type);
            return data ? JSON.parse(data) : false;
        },
        layout:"fitColumns",
        ajaxURL:"/editor/blogs/@Model.BlogKey/getentries", //ajax URL
        columns:[
            {title:"ArticleNumber", field:"ArticleNumber", visible: false },
            {title:"BlogKey", field:"BlogKey", visible: false },

            {title:"Actions", field:"ArticleNumber", formatter:menuBar, width:176, headerSort:false },

            {title:"Title", field:"Title", sorter:"string", headerFilter:"input", cellClick:openArticleVersions },

            {title:"Published", field:"Published", sorter:"string", headerFilter:dateFilterFunction, cellClick:openArticleVersions },
            {title:"Updated", field:"Updated", sorter:"string", headerFilter:dateFilterFunction, cellClick:openArticleVersions },

            {title: "Trash", field:"ArticleNumber", formatter:trashBtn, width:56, headerSort:false, hozAlign:"center", headerHozAlign:"center" }

        ],
    });

     $(document).ready(function () {

        $("body").addClass("cwps-editor-container");

        $(".toLocalTimeZone").each(function (index, element) {
            $(element).html(getLocalTime($(element).html()));
        });

        // New Entry button click handler
        $("#btnCreate").on("click", function (e) {
            e.preventDefault();
            showCreateEntryDialog();
        });

    });

    function showCreateEntryDialog() {
        const dialogHtml = `
            <div class="modal fade mt-5" id="createEntryModal" tabindex="-1" aria-labelledby="createEntryModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-light">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createEntryModalLabel">Create New Blog Entry</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="createEntryForm">
                                <div class="mb-3">
                                    <label for="entryTitle" class="form-label">Title <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="entryTitle" name="entryTitle" required maxlength="254" />
                                    <div class="invalid-feedback">
                                        Please enter a title for the blog entry.
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="confirmCreateEntry">Create Entry</button>
                        </div>
                    </div>
                </div>
            </div>
        `;

        // Remove existing modal if present
        $("#createEntryModal").remove();
        
        // Add modal to body
        $("body").append(dialogHtml);
        
        // Show modal
        const modal = new bootstrap.Modal(document.getElementById("createEntryModal"));
        modal.show();

        // Handle confirm button click
        $("#confirmCreateEntry").on("click", function () {
            const titleInput = $("#entryTitle");
            const title = titleInput.val().trim();
            
            if (!title) {
                titleInput.addClass("is-invalid");
                return;
            }
            
            titleInput.removeClass("is-invalid");
            
            // Navigate to create entry endpoint
            window.location.href = "/editor/blogs/@Model.BlogKey/entries/create/" + encodeURIComponent(title);
        });

        // Remove validation error on input
        $("#entryTitle").on("input", function () {
            $(this).removeClass("is-invalid");
        });

        // Clear validation on modal close
        $("#createEntryModal").on("hidden.bs.modal", function () {
            $(this).remove();
        });
    }
</script>